.dock {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;    
    padding: 0.5rem 1rem;
    border-radius: 12px;    
}

.dock-container {
    display: flex;
    background-color: white;
    box-shadow: black 0px 0px 10px;
    color: black;
    padding: 0rem 2rem;
    border-radius: 10px;
    gap: 15px;
}

.dock-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.dock-item:hover {
    transform: scale(1.2);
}

.dock-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}