<header class="site-header">
    <div class="navbar-container">
        <div class="site-logo">TodoIt</div>

        @* <nav class="navigation">
            <a href="/" class="nav-link">Home</a>
        </nav> *@

        <div class="auth-actions">
            <a href="/login" class="auth-link login-link">Login</a>
            <a href="/signup" class="auth-link signup-button">
                <span>Sign Up</span>
            </a>
        </div>
    </div>
</header>
