@using WebUI.Components.Widgets
@inherits LayoutComponentBase
<div class="page">


    <main>
        <WorkSpaceNav />
        <article>
            @Body            
        </article>
    </main>
    <Dock />
</div>