@using WebUI.Components.Widgets
@inherits LayoutComponentBase

<div class="grid-pattern">

</div>

<div class="page">


    <main>
        <WorkSpaceNav />
        <article>
            @Body            
        </article>
    </main>
    <Dock />
</div>
